.lease-types {
    background-color: var(--lease-types-bg-color);
    padding: 60px 0 30px;
}

.lease-types__element {
    background-color: var(--lease-types-element-bg-color);
    margin-bottom: 30px;
}

.lease-types__element__image {
    width: 100%;
}

.lease-types__element__image img {
    width: 100%;
}

.lease-types__element__text {
    padding: 39px 43px;
}

.lease-types__element__title {
    color: var(--lease-types-element-title-color);
    font-size: 12px;
    font-family: var(--notosans-font-family);
    font-weight: 700;
}

.lease-types__element__type {
    color: var(--lease-types-element-type-color);
    font-family: var(--teko-font-family);
    font-size: 38px;
    padding-top: 10px;
}

.lease-types__element__description {
    color: var(--lease-types-element-description-color);
    font-size: 17px;
    font-family: var(--notosans-font-family);
    padding-top: 20px;
}

.lease-types__element__button {
    margin-top: 40px;
    font-size: 18px;
}

.lease-types__element__button:active {
    background-color: var(--lease-types-element-btn-active-bg-color);
    border-color: var(--lease-types-element-btn-active-border-color);
    color: var(--lease-types-element-btn-active-color);
}

.lease-types__element__button__container {
    display: flex;
}

@media(min-width: 767px) {
    .lease-types__element__type {
        font-size: 54px;
    }
}

@media(min-width: 991px) {
    .lease-types__element {
        display: flex;
        width: 100%;
    }

    .lease-types__element:nth-child(even) {
        flex-direction: row-reverse;
    }

    .lease-types__element > div {
        width: 50%;
    }
    
    .lease-types__element__image {
        width: 100%;
        height: 100%;
    }

    .lease-types__element__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}